        <div class="col-md-4 col-md-offset-4">
            <div class="padded">
                <div class="login box" style="margin-top: 80px;">
                    <div class="box-header"><span class="title">Profile</span></div>
                    <div class="box-content padded">
                        <form name="form" class="separate-sections" ng-submit="register()">
                            <div class="input-group addon-left">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input name="Name" ng-model="user.accountName" type="text" placeholder="Name" readonly>
                            </div>
                            <div class="input-group addon-left">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input name="Username" ng-model="user.username" type="text" placeholder="username"  readonly>
                            </div>
                            <div class="input-group addon-left">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input name="Email" ng-model="user.email" type="email" placeholder="email"  readonly>
                            </div>
                        </form>                    
                    </div>
                </div>
            </div>
        </div>